body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: ghostwhite;
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

h1 {
	flex-grow: 1;
	margin-top: 0;
	margin-bottom: 0;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.topContainer{
	display: flex;
	height: 3rem;
}

.complete {
	float: right;	
	margin-right: 1%;
}

.floor{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.formInput {
	width: 20vw;
	height: 1.5vw;	
}



.floorPlan {
	float: left;
}	

.floorPlanZoneContainer{
	display: flex;
	justify-content: flex-start;
	
}
.con{
	background-image: url('../Image/dummy.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 	960px;
	max-width: 100%;
	
}
.imageContainer{
	padding-top: 62.5%;

}

.informationContainer{
	margin-left: 3%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.formContainer{
	width: 100%;
	display: flex;	
}

.inputWrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}

.formButtonContainer{
	display: flex;
	justify-content: flex-start;
}

.addButtonWrapper{
	align-self: flex-end;
}

.cancelButtonWrapper{
	align-self: flex-end;
	margin-left: 2%;
}

.formStatusWrapper{
	margin-bottom: 5%;
	display: block;
}

.scrollInfoContainer{
	width: 32vw;
	height: 20vw; /*old vw 15.55*/
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}
	div.scrollInfoContainer::-webkit-scrollbar {
	width: 25px;
  }
  
  /* Track */
  div.scrollInfoContainer::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  div.scrollInfoContainer::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  div.scrollInfoContainer::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }


.nodeInfoContainer{
	width: 28vw;
	border: black solid 1px;
	padding: 2%;
	margin-bottom: 2%;
	display: flex;
	justify-content: space-between;
	
}

.nodeButtonWrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 2%;
}

.nodeButton{
	width: 5vw;
	margin:5%;
	padding: 0.2vw;
}

.errorTextWrapper{
	width: 28vw;
	padding: 2%;
	margin-top: 2%;
	border: black solid 1px;
}

.button {
	border-radius: 12px;
	padding: 10px;
	text-align: center;
	border: none;
	margin-right: 7px;
}

#addSiteButton{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 10px;
	text-align: center;
	border: none;
}


#TestCompleteButton {
	padding: 15px 24px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	opacity: 0.6;
	/*cursor: not-allowed;*/
	margin: 1%
}

#addNode{
	padding: 5px;
	float: right;
	align-self: flex-end;
	width: 4.5rem;
	height: 3rem;
}
.addNode{
	padding: 20px;
	float: left;
	align-self: flex-end;
	width: 100%;
	margin-right: 10px;
	margin-bottom: 10px;
	flex: 1 0 25%;
}
#cancel{
	padding: 5px;
	align-self: flex-end;
	width: 4.5rem;
	height: 3rem;
}

#editNode{
	background-color: #999900;
	border: none;
	color: white;
}

#deleteNode{
	background-color: red;
	border: none;
	color: white;
}

#noSignalNode{
	background-color: blue;
	border: none;
	color: white;
}

.marker{
	position: absolute;
	width: 15px;
	height: 15px;
	left: 15px;
	top: 15px;
	background-color: red;
}

.gateway{
	position: absolute;
	width: 15px;
	height: 15px;
	left: 15px;
	top: 15px;
	background-color: green;
}


/*============================================== Signal Strength=================================================*/
/* 
.signal-strength {
	width: 9vw;
	height: 1.1vw;
	display: inline-block;
}

.bar{
	display: inline-block;
	height: 100%;	
	width: 13%;
	box-sizing: border-box;
	background-color: rgb(231, 225, 223);
  	border: thin solid #f3f3f3;
} */



/*
.signal-strength-1 .bar-1{
	background-color: #999;
}


.signal-strength-2 .bar-1, .bar-2{
	background-color: #777;
}



.signal-strength-3 .bar-1, .bar-2, .bar-3{
	background-color: #555;
}



.signal-strength-4 .bar-1, .bar-2, .bar-3, .bar-4{
	background-color: #333;
}


.signal-strength-5 .bar-1, .bar-2, .bar-3, .bar-4, .bar-5{
	background-color: #111;
}
*/


