body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
	background-color: ghostwhite;
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

h2 {
	flex-grow: 1;
	margin-top: 0;
	margin-bottom: 0;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.topContainer{
	display: flex;
	height: 3vw;
	justify-content: space-between;
	align-items: flex-start;
}



.complete {
	/*display: flex;
	flex-direction: row;*/
	float: right;	
	margin-right: 1%;
}

.floor{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.formInput {
	width: 20vw;
	height: 1.5vw;	
}



.floorPlan {
	float: left;
}	

.floorPlanZoneContainer{
	display: flex;
	justify-content: flex-start;

}
.con{
	background-image: url('../Image/F1.jpeg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	width: 90%;
	max-width: 90%;
	max-height: 550px;
	margin-left: auto;
	margin-right: auto;
}
.imageContainer{
	padding-top: 62.5%;
	height: 100%;
	width: 100%;
}

.alert{
	/* display flex */
	border: black solid 1px;
	width: inherit;
	height: 15vw;
	flex-grow: 1;
}

#alertFormYes{
	margin-left: 3%;
}

.informationContainer{
	/* margin-left: 3%; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
}

.formContainer{
	width: 345px;
	display: flex;	
	
}

.inputWrapper{
	width: 12vw;
	flex-wrap: wrap;
	background-color: gray;
	z-index: 10;
}

.addNode{
	padding: 5px;
	font-size: 2vw;
	float: left;
	align-self: flex-end;
	width: 90%;
	height: 90%;
	margin: 5px;
	flex: 1 0 25%;
}


.formButtonContainer{
	display: flex;
	justify-content: flex-start;
}

.addButtonWrapper{
	align-self: flex-end;
}

.cancelButtonWrapper{
	align-self: flex-end;
	margin-left: 2%;
}

.formStatusWrapper{
	/* margin-bottom: 5%; */
	display: block;
}

.scrollInfoContainer{
	width: inherit;
	height: 20vw; /*old vw 15.55*/
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}
	div.scrollInfoContainer::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  div.scrollInfoContainer::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  div.scrollInfoContainer::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  div.scrollInfoContainer::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }


.nodeInfoContainer{
	font-size: 16px;
	width: 21vw;
	border: black solid 1px;
	padding: 1%;
	margin-bottom: 2%;
	display: flex;
	position: absolute;
	justify-content: space-between;
	opacity: 0.95;
	background-color:white;
	z-index: 9;
}

.nodeInfoWrapper{
	width: 65%;
	flex-grow: 1;
}

.nodeButtonWrapper{
	width: 35%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 
	height: 100%;
	padding-right: 2%; */
}

.nodeButton{
	width: 5vw;
	margin: 1% 1% 5%;
	padding: 0.2vw;
}

.errorTextWrapper{
	width: 28vw;
	padding: 2%;
	margin-top: 2%;
	border: black solid 1px;
}

.button {
	border-radius: 12px;
	padding: 10px;
	text-align: center;
	border: none;
	margin-right: 7px;
}

.moveGatewayButton, .testCompleteButton{
	font-size: 22px;
}

.FloorLists, .plus{
	font-size: 24px;
	font-weight: bold;
	width: 14vw;
	height: 5vw;
	margin-right: 2vw;
	float: left;
	text-align: center;
	padding: 10px 15px;
}	


#addSiteButton{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 10px;
	text-align: center;
	border: none;
}



#TestCompleteButton {
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	opacity: 0.6;
	height: 5vw;/*
	cursor: not-allowed;*/

}

#MoveGatewayButton{
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	opacity: 0.6;
	height: 5vw;/*
	cursor: not-allowed;*/

}



#addNode{
	font-size: 24px;
	padding: 5px;
	float: right;
	align-self: flex-end;
	width: 9vw;
	height: 5vw;
}

#cancel{
	font-size: 24px;
	padding: 5px;
	align-self: flex-end;
	width: 9vw;
	height: 5vw;
}

#editNode{
	font-size: 16px;
	background-color: #999900;
	border: none;
	color: white; /*text colour*/
	width: 100%;
}

#deleteNode{
	font-size: 16px;
	background-color: red;
	border: none;
	color: white;
	width: 100%;
	/* margin-left: 5%; */
}
#closeNode{
	font-size: 16px;
	background-color: blue;
	border: none;
	color: white;
	width: 100%;
	/* margin-left: 5%; */
}

#noSignalNode{
	background-color: blue;
	border: none;
	color: white;
}

.marker{
	position: absolute;
	width: 15px;
	height: 15px;
	left: 15px;
	top: 15px;
	background-color: red;
}

.gateway{
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #7FFF00;
 
}

.addBorder{ /*adds border around an element */
	border: black solid 2px;
}

